{% extends 'main/index.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    <div class="menu">
        <div class="new_receipt">
            <button class="button"><a href="{% url "main:create_receipt" %}">Добавить новый рецепт</a></button>
        </div>
        <div><h1 class="random-receipt header">5 случайных рецептов</h1></div>
        <div>{% include "main/user-info.html" %}</div>
    </div>
    {% for item in receipts %}
        <ul class="border_block">
            <div class="brief_info">
                <div class="brief_name_description">
                    <p class="bold_name"><a href="{% url "main:receipt_details" pk=item.pk %}">
                        {{ item.name }}</a></p>
                    <p class="description">{{ item.description }}</p>
                </div>
                <div>
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="brief_image">
                        {% else %}
                        <p class="not_found">Изображение отсутствует</p>
                    {% endif %}
                </div>
            </div>
        </ul>
    {% endfor %}
{% endblock %}