{% extends "main/index.html" %}
{% block title %}
    Подробная информация
{% endblock %}
{% block body %}
    <div><button class="button"><a href="{% url "main:home_page" %}">Все рецепты</a></button></div>
    <div><button class="button"><a href="{% url "main:update_receipt" pk=object.pk %}">Изменить рецепт</a></button></div>
    <div>
        <h1 class="detail-h1 header">Подробная информация о рецепте {{ receipts.name }}</h1>
        <div class="detail-full-info">
            {% if receipts.image.url != ""  %}
            <img src="{{ receipts.image.url }}" alt="{{ receipts.name }}" class="img-detail">
            {% else %}
            Изображение отсутствует
            {% endif %}
        </div>
        <div class="detail-full-info">
            <span class="detail-title">Описание рецепта: </span>{{ receipts.description }}
        </div>
        <div class="detail-full-info">
            <span class="detail-title">Шаги приготовления: </span> <span class="steps">{{ receipts.cooking_steps }}</span>
        </div>
        <div class="detail-full-info">
            <span class="detail-title">Автор рецепта: </span> {{ receipts.author }}
        </div>
        <div class="detail-full-info">
            <span class="detail-title">Время приготовления: </span> <time>{{ receipts.cooking_time }}</time>
        </div>
    </div>
{% endblock %}