body {
    background: #d0d4a8a8;
    font-size: large;
    font-family: "Al Bayan";
}

img {
    height: 450px;
    width: 600px;
}

.border_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 1000px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: auto;*/
    margin: auto;
    border: solid black 2px;
}

.bold_name {
    font-weight: bold;
    font-size: larger;
}

.user_info{
    float: right;
}

.new_receipt{
    float: left;
}

.menu{
    padding: 10px;
    margin: 30px;
}